*{
    -moz-box-sizing:border-box;
    -ms-boxs-izing:border-box;
    -webkit-box-sizing:border-box;
}
.container-header{
    max-width:830px;
    margin:0 auto;
    text-align:center;
}
.container{
    max-width:1140px;
    margin:0 auto;
}
.header h1{
    margin-top:70px;
    margin-bottom:0px;
    color:#272c30;
}
.header p{
    line-height:30px;
    font-size:1.25rem;
    color:#17a2b8;
    margin-bottom:80px;
    margin-top:12px;
}
.container p{
    color:#000000;
    font-size:1.1rem;
    margin:20 0px;
}
#menu-bar{  
    background-color:#fff;
    position:fixed;
    display:block;
    width:100%;
    position:fixed;
    z-index:9;
}
.container-menubar{
    max-width:1400px;
    margin:0 auto;
    display:flex;
    grid-gap:10px;
    justify-content:space-between;
    align-items:center;
}
#menu-bar .right a{
    color:#272c30
}
#menu-bar .left a{
    color:rgba(0,0,0,.5);
    font-size:18px;
    font-weight:bold;
}
#menu-bar .left a:hover{
   color: rgba(0,0,0,.7);
}
#menu-bar .right a:hover{
    text-decoration:underline
}
.flexbox{
    display:flex;
    grid-gap:20px;
}
#banner{
    background-image:url(../image/tree-forest-road-trail-sunlight-morning-4342-pxhere.com_.jpg);
    background-size:cover;
    height:100vh;
    padding-top:220px;
    color:#fff;
    position:relative
}
#banner::after{
    background-color:#00000057;
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    right:0;
    content:"";
}
#banner .content{
    text-align:center;
    position:relative;
    z-index:3
}
#banner .content h2{
    margin-top:-10px;
}
#banner .content h4{
    margin-top:40px;
}
#banner .content ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    grid-gap:30px;
    font-weight:bold;
    margin-top:55px;
}
#banner .content ul li:first-child{
    background-color:#fff;
    border-radius:50px;
}
#banner .content ul li:last-child{
    background-color:#2f5be7;
    border-radius:50px;
}
#banner .content ul li a {
    padding:18 55px;
    color:#272c30;
}
#banner .content ul li:last-child a{
    padding:18 75px;
    color:#fff;
}
#features{
    display:flex;
    grid-gap:30px;
    justify-content:space-between;
    text-align:center;
}
#features .right,#features .left,#features .center{
    padding:25px;
    box-shadow:0px 0px 15px 0.1px rgba(172, 172, 210, 0.441);
    line-height:25px;
}
#features img{
    margin-top:15px;
}



